@inject IViewLocalizer Localizer

@functions{
    string GetTheme()
    {
        if (Context.Request.Cookies["Theme"] != null)
        {
            if (Context.Request.Cookies["Theme"].Equals("light"))
                return "bg-white navbar-light";
            else return "bg-dark navbar-dark";
        }
        return "bg-white navbar-light";
    }

    string GetThemeForButton()
    {
        if (Context.Request.Cookies["Theme"] != null)
        {
            if (Context.Request.Cookies["Theme"].Equals("light"))
                return "text-dark";
            else return "text-light";
        }
        return "text-dark";
    }

    string GetThemeBody()
    {
        if (Context.Request.Cookies["Theme"] != null)
        {
            if (Context.Request.Cookies["Theme"].Equals("light"))
                return "background-color: #ffffff";
            else return "background-color: #EDEEFF";
        }
        return "background-color: #ffffff";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css">
</head>
<body style="@GetThemeBody()">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm @GetTheme() border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Project</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link @GetThemeForButton()" asp-controller="Collection" asp-action="Collections">@Localizer["Personal"]</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @GetThemeForButton()" asp-controller="Admin" asp-action="Admin">@Localizer["Admin"]</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link @GetThemeForButton()" asp-controller="Collection" asp-action="Collections">@Localizer["Personal"]</a>
                                </li>
                            }
                        }

                    </ul>
                    <div class="my-lg-0">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item my-lg-0">
                                <div class="search">
                                    <form asp-controller="Home" asp-action="Search" method="get">
                                        <button value="" title="Найти" alt="Найти" class="ser-button" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        <input type="text" name="searchText" placeholder="@Localizer["Search"]..." autocomplete="off" />
                                    </form>
                                </div>
                            </li>

                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link @GetThemeForButton()" asp-controller="Account" asp-action="LogOut">@Localizer["SignOut"]</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link @GetThemeForButton()" asp-controller="Account" asp-action="Registration">@Localizer["Register"]</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @GetThemeForButton()" asp-controller="Account" asp-action="Authentication">@Localizer["Login"]</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted @GetTheme()">
        <div class="container">
            &copy; 2021 - project - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
            <div class="float-right row">
                <div style="margin-right: 15px;">
                    @await Html.PartialAsync("_SelectThemePartial")
                </div>
                @await Html.PartialAsync("_SelectLanguagePartial")
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
