@inject IViewLocalizer Localizer

@functions{
    string GetTheme()
    {
        if (Context.Request.Cookies["Theme"] != null)
        {
            if (Context.Request.Cookies["Theme"].Equals("light"))
                return "bg-white text-dark";
            else return "bg-dark text-light";
        }
        return "bg-light text-dark";
    }
}

<form asp-controller="Home" asp-action="SetTheme"
      asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString"
      method="post" class="form-horizontal">
    <select name="theme" onchange="this.form.submit();"
            style="border: 0px" class="@GetTheme()">
        @if (Context.Request.Cookies["Theme"] != null)
        {
            if (Context.Request.Cookies["Theme"].Equals("light"))
            {
                <option value="light" selected>@Localizer["light"]</option>
                <option value="dark">@Localizer["dark"]</option>
            }
            else
            {
                <option value="light">@Localizer["light"]</option>
                <option value="dark" selected>@Localizer["dark"]</option>
            }
        }
        else
        {
            <option value="light" selected>@Localizer["light"]</option>
            <option value="dark">@Localizer["dark"]</option>
        }
    </select>
</form>