@inject IViewLocalizer Localizer
@{
    List<User> users = Model;
}

<h2 class="text-center">@Localizer["UsersTitle"]</h2>

<table class="table" id="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (User user in users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.Role</td>

                @if (!user.LockoutEnabled || user.LockoutEnd < DateTime.Now)
                {
                    <td>
                        @Html.ActionLink(
                        "Block",
                        "BlockUser",
                        "Admin",
                        new { id = user.Id },
                        new { @class = "btn btn-danger" })
                    </td>
                    if (user.Role == RoleUser.User)
                    {
                        <td>
                            @Html.ActionLink(
                            "Promote to admin",
                            "PromoteUserToAdmin",
                            "Admin",
                            new { id = user.Id },
                            new { @class = "btn btn-primary" })
                        </td>
                    }

                }
                else if (user.LockoutEnabled && user.LockoutEnd > DateTime.Now)
                {
                    <td>
                        @Html.ActionLink(
                        "Unblock",
                        "UnblockUser",
                        "Admin",
                        new { id = user.Id },
                        new { @class = "btn btn-warning" })
                    </td>
                    <td>
                        @Html.ActionLink(
                        "Delete",
                        "DeleteUser",
                        "Admin",
                        new { id = user.Id },
                        new { @class = "btn btn-danger" })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>