@{
    List<User> users = Model;
}

@section Header {
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Collections">Мои коллекции</a>
                </li>
            </ul>
        </div>

        <div class="float-right">
            <ul class="navbar-nav flex-grow-1">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Account" asp-action="SignOut">Выйти</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Account" asp-action="Registration">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Account" asp-action="Authentication">Логин</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}

<h1 class="text-center">Пользователи</h1>

<table class="table" id="table">
    <thead class="thead-light">
        <tr>
            <th>
                <div class="form-check" style="margin-bottom: 60%">
                    <input class="form-check-input" type="checkbox" id="checkBoxMain" onchange="checkAll()">
                </div>
            </th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (User user in users)
        {
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input check"
                               type="checkbox">
                    </div>
                </td>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.Role</td>

                @if (!user.LockoutEnabled || user.LockoutEnd < DateTime.Now)
                {
                    <td>
                        @Html.ActionLink(
                        "Block",
                        "BlockUser",
                        "Admin",
                        new { id = user.Id },
                        new { @class = "btn btn-danger" })
                    </td>
                    if (user.Role == RoleUser.User)
                    {
                        <td>
                            @Html.ActionLink(
                            "Promote to admin",
                            "PromoteUserToAdmin",
                            "Admin",
                            new { id = user.Id },
                            new { @class = "btn btn-primary" })
                        </td>
                    }

                }
                else if (user.LockoutEnabled && user.LockoutEnd > DateTime.Now)
                {
                    <td>
                        @Html.ActionLink(
                        "Unblock",
                        "UnblockUser",
                        "Admin",
                        new { id = user.Id },
                        new { @class = "btn btn-warning" })
                    </td>
                    <td>
                        @Html.ActionLink(
                        "Delete",
                        "DeleteUser",
                        "Admin",
                        new { id = user.Id },
                        new { @class = "btn btn-danger" })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>