@inject IViewLocalizer Localizer
@{
    List<IdentityUser> users = Model;
}

<h2 class="text-center">@Localizer["UsersTitle"]</h2>

<table class="table" id="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">@Localizer["Id"]</th>
            <th scope="col">@Localizer["Name"]</th>
            <th scope="col">@Localizer["Email"]</th>
            <th scope="col">@Localizer["Role"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (IdentityUser user in users)
        {
            <tr>
                <td>@user.Id</td>
                <td><a href="/Collection/Collections?email=@user.Email">@user.UserName</a></td>
                <td>@user.Email</td>
                @*<td>@user</td>*@

                @if (!user.LockoutEnabled || user.LockoutEnd < DateTime.Now)
                {
                    <td>
                        <a href='/Admin/BlockUser?id=@user.Id' class="btn btn-danger">@Localizer["Block"]</a>
                    </td>
                    //if (user.Role == RoleUser.User)
                    //{
                        <td>
                            <a href='/Admin/PromoteUserToAdmin?id=@user.Id' class="btn btn-primary">@Localizer["Promoute"]</a>
                        </td>
                    //}

                }
                else if (user.LockoutEnabled && user.LockoutEnd > DateTime.Now)
                {
                    <td>
                        <a href='/Admin/UnblockUser?id=@user.Id' class="btn btn-warning">@Localizer["Unblock"]</a>
                    </td>
                    <td>
                        <a href='/Admin/DeleteUser?id=@user.Id' class="btn btn-danger">@Localizer["Delete"]</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>