@inject IViewLocalizer Localizer
@{
    int collectionId = ((int)ViewData["CollectionId"]);
    List<CustomField> customFields = ViewData["CustomFields"] as List<CustomField>;
}

<h2 class="text-center">Add item</h2>

<form method="post" asp-controller="Home" asp-action="AddItem">
    <input type="hidden" name="collectionId" value="@collectionId">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
    </div>

    <div class="form-group">
        <label for="tags">Tags</label>
        <input type="text" class="form-control" id="tags" name="Tags" placeholder="Enter name">
    </div>

    @foreach (CustomField customField in customFields)
    {
        <input type="text" name="customField" value="@customField.Id" style="display: none;">

        <div class="form-group">
            <label for="@customField.Title">@customField.Title</label>
            <input type="text" class="form-control" id="@customField.Title" name="customFieldValue" placeholder="Enter @customField.Title">
        </div>
    }

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    <script>

    </script>
}