@{
    int collectionId = ((int)ViewData["CollectionId"]);
    List<CustomField> customFields = ViewData["CustomFields"] as List<CustomField>;
}

@section Header {
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Collections">Мои коллекции</a>
                </li>
            </ul>
        </div>

        <div class="float-right">
            <ul class="navbar-nav flex-grow-1">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Account" asp-action="SignOut">Выйти</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Account" asp-action="Registration">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Account" asp-action="Authentication">Логин</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}

<h1 class="text-center">Добавить элемент</h1>

<form method="post" asp-controller="Home" asp-action="AddItem">
    <input type="hidden" name="collectionId" value="@collectionId">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
    </div>

    <div class="form-group">
        <label for="tags">Tags</label>
        <input type="text" class="form-control" id="tags" name="Tags" placeholder="Enter name">
    </div>

    @foreach (CustomField customField in customFields)
    {
        <input type="text" name="customField" value="@customField.Id" style="display: none;">

        <div class="form-group">
            <label for="@customField.Title">@customField.Title</label>
            <input type="text" class="form-control" id="@customField.Title" name="customFieldValue" placeholder="Enter @customField.Title">
        </div>
    }

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    <script>

    </script>
}