@{
    List<Item> items = Model;
    List<CustomField> customFields = ViewData["CustomFields"] as List<CustomField>;
    List<CustomFieldValue> customFieldValues = ViewData["CustomFieldValues"] as List<CustomFieldValue>;
    int collectionId = ((int)ViewData["CollectionId"]);
}

@section Header {
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Collections">Мои коллекции</a>
                </li>
            </ul>
        </div>

        <div class="float-right">
            <ul class="navbar-nav flex-grow-1">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Account" asp-action="SignOut">Выйти</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Account" asp-action="Registration">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Account" asp-action="Authentication">Логин</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}

<a class="btn btn-info" asp-controller="Home" asp-action="AddItem" asp-route-id="@collectionId">Добавить элемент</a>

<table class="table" id="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Tags</th>
            @foreach(CustomField customField in customFields)
            {
                <th scope="col">@customField.Title</th>
            }
        </tr>
    </thead>
    <tbody>
        @if (items != null)
        {
            foreach(Item item in items)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Tags</td>
                    @if(item.CustomFieldValues != null)
                    {
                        foreach(CustomFieldValue customField in item.CustomFieldValues)
                        {
                            <td>@customField.Value</td>
                        }
                    }
                
                </tr>
            }
        }
    </tbody>
</table>
