@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home Page";
    List<Item> lastItems = ViewData["LastItems"] as List<Item>;
}

<h2 class="text-ctenter">@Localizer["LastItems"]</h2>

<div class="d-flex justify-content-between flex-wrap">
    @foreach (Item item in lastItems)
    {
        <div onclick="goToItem(@item.Id)" style="height: 250px; width: 170px; background-color: lightgray; border: 1px solid lightgray; border-radius: 10px; margin-top: 10px;">
            <p class="text-center" style="margin-top=10px;font-weight:700">@item.Name</p>
            <p class="text-justify" style="margin-left: 5px">@item.Id</p>
        </div>
    }
</div>

@section Scripts {
    <script>
        function goToItem(id) {
            window.location.href='@Url.Action("Item", "Home")?id=' + id;
        }
    </script>
}