@inject IViewLocalizer Localizer
@{
    Item item = Model;
    Collection collection = ViewData["Collection"] as Collection;
    List<CustomField> fields = ViewData["Field"] as List<CustomField>;
    List<CustomFieldValue> values = ViewData["FieldValue"] as List<CustomFieldValue>;
    string tags = ViewData["Tags"].ToString();
}

<div>
    <h4>Name: @item.Name</h4>
    <h4>Collection: @collection.Name</h4>
    <h4>Tags: @tags</h4>
    @for (int i = 0; i < fields.Count; i++)
    {
        <h4>@fields[i].Title: @values[i].Value</h4>
    }
    <button class="btn btn-primary" onclick="addLike(@item.Id)">Add Like</button>
    <span>Likes: @item.Likes.Count</span>
</div>

<div class='d-flex flex-column align-items-center p-3'>
    @if (item.Comments != null)
    {
        foreach (Comment comment in item.Comments)
        {
            <div className='shadow-sm d-flex flex-column align-items-center w-100 mb-4 border rounded'>
                <div className='d-flex flex-column align-items-center w-100 p-1 border-bottom text-secondary'>
                    <em>@comment.Author</em>
                    <em>Created:&nbsp;@comment.CreatedDate</em>
                </div>
                <div className='mw-100 p-3'>
                    <em>@comment.Text</em>
                </div>
            </div>
        }
    }
</div>
<div className='d-flex flex-column align-items-center m-3 p-2 shadow rounded'>
    <form asp-controller="Home" asp-action="AddComment">
        <input type="hidden" name="itemId" value="@item.Id">
        <textarea type="input" className="form-control mb-4" name="text"
                  placeholder='Write comment...'></textarea>
        <button className="btn btn-success" type="submit">Add Comment</button>
    </form>
</div>

@section Scripts {
    <script>
        function addLike(id) {
            window.location.href='@Url.Action("AddLike", "Home")?id=' + id;
        }

    </script>
}