@inject IViewLocalizer Localizer
@{
    List<CustomFieldType> customFieldTypes = new List<CustomFieldType>();
    customFieldTypes.Add(CustomFieldType.Checkbox);
    customFieldTypes.Add(CustomFieldType.Text);
    customFieldTypes.Add(CustomFieldType.String);
    customFieldTypes.Add(CustomFieldType.Date);
    customFieldTypes.Add(CustomFieldType.Number);

    List<String> customFieldTypesString = new List<String>();
    customFieldTypesString.Add(CustomFieldType.Checkbox.ToString());
    customFieldTypesString.Add(CustomFieldType.Text.ToString());
    customFieldTypesString.Add(CustomFieldType.String.ToString());
    customFieldTypesString.Add(CustomFieldType.Date.ToString());
    customFieldTypesString.Add(CustomFieldType.Number.ToString());

    List<SelectListItem> selectListItems = new List<SelectListItem>();

    string userName = null;
    if (ViewData["UserEmail"] != null)
    {
        userName = ViewData["UserEmail"].ToString();
    }

    foreach (var type in customFieldTypes)
    {
        selectListItems.Add(new SelectListItem { Value = type.ToString(), Text = type.ToString() });
    }

    Collection collection = new Collection();
    if (Model != null)
    {
        collection = Model;
    }

    string GetActionForm() {
        return collection.Id == 0 ? "AddCollectionPost" : "EditCollection";
    }
}
<h2 class="text-center">@Localizer["AddCollection"]</h2>

<form method="post" asp-controller="Collection" asp-action='@GetActionForm()' enctype="multipart/form-data">
    @if(collection != null)
     {
        <input type="hidden" name="Id" value="@collection.Id" />
     }
    <input type="hidden" name="userEmail" value="@userName" />
    <div class="form-group">
        <label for="name">@Localizer["Name"]</label>
        <input type="text" class="form-control" id="name" name="name"
               value="@collection.Name" placeholder="@Localizer["NamePlaceholder"]">
    </div>

    <div class="form-group">
        <label for="theme">@Localizer["Theme"]</label>
        <select id="type" name="theme" class="form-control selectpicker"
                data-style="btn-success" required>
            <option>@TypeItem.Books</option>
            <option>@TypeItem.NewPapers</option>
            <option>@TypeItem.Stamps</option>
        </select>
    </div>

    <div class="form-group">
        <label for="description">@Localizer["Description"]</label>
        <input type="text" class="form-control" id="description" value="@collection.Description"
               name="description" placeholder="@Localizer["DescriptionPlaceholder"]">
    </div>

    <input type="file" name="files" id="files" />

    <div ondrop="callondrop(event);" ondragover="return false;" style="margin: 15px auto; height: 300px; width: 600px; background-color: lightgray;">
        <div id="placeholderImg" class="placeHolderMsg">

        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <input type="button" class="btn btn-primary" value="@Localizer["AddField"]"
                   onclick='newField(@Html.Raw(Json.Serialize(selectListItems)))'/>
        </div>
        <div id="fields" class="col-9 col-md-8" >
            @if (collection.Fields != null)
            {
                foreach (CustomField field in collection.Fields)
                {
                    <div class="form-group">
                        <input type="hidden" name="fieldId" value="@field.Id" />
                        <input type="text" class="form-control" id="description" value="@field.Title"
                               name="field" placeholder="Enter Field" />
                        <select asp-for="@field.CustomFieldType" name="newFieldType" asp-items='@selectListItems'
                                class="form-control selectpicker" data-style="btn-success"></select>
                    </div>
                }
            }
        </div>
    </div>

    <button type="submit" style="margin-top:15px;" class="btn btn-primary">@Localizer["Submit"]</button>
</form>

@section Scripts {
    <script>
        function callondrop(e) {
            e.preventDefault();
            if ((e.dataTransfer && e.dataTransfer.files) || (e.dataTransfer && e.dataTransfer.files)) {
                var files = e.target.files || e.dataTransfer.files;
                $('#files')[0].files = files;
            }
            return false;
        }

        function newField(selectedListitems) {
            let container = document.getElementById("fields");
            let fieldCount = container.getElementsByTagName("input").length;
            let nextFieldId = fieldCount + 1;
            let div = document.createElement("div");
            div.setAttribute("class", "form-group row");

            let field = document.createElement("input");
            field.setAttribute("class", "form-control");
            field.setAttribute("id", "Fields[" + nextFieldId + "]");
            field.setAttribute("name", "field");
            field.setAttribute("type", "text");

            let typeField = document.createElement("select");
            typeField.setAttribute("class", "form-control selectpicker");
            typeField.setAttribute("name", "newFieldType");
            typeField.setAttribute("data-style", "btn-success");

            let types = Object.values(selectedListitems)

            console.log(types[1]);

            for (let i = 0; i < types[1].length; i++) {
                let typeFieldTypes = document.createElement("option");
                typeFieldTypes.setAttribute("value", types[1][i].text);
                typeFieldTypes.innerHTML = types[1][i].text;
                typeField.appendChild(typeFieldTypes);
            }

            div.appendChild(field);
            div.appendChild(typeField);

            container.appendChild(div);
        }
    </script>
}