@inject IViewLocalizer Localizer
@{
    Collection collection = Model;
}

<a class="btn btn-primary" asp-controller="Home" asp-action="AddItem" asp-route-id="@collection.Id">Add item</a>

<a class="btn btn-primary" asp-controller="Home" asp-action="EditCollection" asp-route-id="@collection.Id">Edit collection</a>

<button class="btn btn-primary" onclick="showModal()">Delete collection</button>

<div class="modal fade bs-example-modal-sm" tabindex="-1" id="modal" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Удалить коллекцию?</h4>
            </div>
            <div class="modal-body">
                <h4 class="modal-content">После удаления вы потеряете все данные</h4>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="window.location.href = '@Url.Action("DeleteCollection", "Home")?id=' + @collection.Id" class="btn btn-primary">Ok</button>
            </div>
        </div>
    </div>
</div>

<table class="table" id="table">
    <thead class="thead-light">
        <tr>
            <th scope="col" onclick="sortById()">Id</th>
            <th scope="col" onclick="sortByName()">Name</th>
            <th scope="col" onclick="">Tags</th>
            @foreach (CustomField customField in collection.Fields)
            {
                <th scope="col">@customField.Title</th>
            }
        </tr>
    </thead>
    <tbody>
        @if (collection.Items != null)
        {
            foreach (Item item in collection.Items)
            {
                <tr onclick="goToItem(@item.Id)">
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Tags</td>
                    @if (item.CustomFieldValues != null)
                    {
                        foreach (CustomFieldValue customField in item.CustomFieldValues)
                        {
                            <td>@customField.Value</td>
                        }
                    }

                </tr>
            }
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function showModal() {
            $('#modal').modal();
        }

        function goToItem(id) {
            window.location.href='@Url.Action("Item", "Home")?id=' + id;
        }

        function sortById() {
            window.location.href='@Url.Action("SortById", "Home")?id=' + id;
        }

        function sortByName() {
            window.location.href='@Url.Action("SortByName", "Home")?id=' + id;
        }
    </script>
}